<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

  <extension point="org.knime.workbench.repository.categories">
	<category description="MMI Agency" icon="icons/MMI_Knime_MMILogo_16x16.png" level-id="mmi" name="MMI Agency" path="/"/>
  </extension>
   
  <extension point="org.knime.workbench.repository.nodes">
    <node category-path="/mmi/" factory-class="com.mmiagency.knime.google.pagespeed.GooglePageSpeedNodeFactory" id="com.mmiagency.knime.google.pagespeed.GooglePageSpeedNodeFactory"/>
    <node category-path="/mmi/" factory-class="com.mmiagency.knime.w3c.htmlvalidator.W3cHtmlValidatorNodeFactory" id="com.mmiagency.knime.w3c.htmlvalidator.W3cHtmlValidatorNodeFactory"/>
    <node category-path="/mmi/" factory-class="com.mmiagency.knime.w3c.cssvalidator.W3cCssValidatorNodeFactory" id="com.mmiagency.knime.w3c.cssvalidator.W3cCssValidatorNodeFactory"/>
    <node category-path="/mmi/" factory-class="com.mmiagency.knime.twitter.trends.TwitterTrendsNodeFactory" id="com.mmiagency.knime.twitter.TwitterTrendsNodeFactory"/>
  <node category-path="/" factory-class="com.mmiagency.knime.keyworddensity.KeywordDensityNodeFactory" id="com.mmiagency.knime.keyworddensity.KeywordDensityNodeFactory"/>
</extension>
   
</plugin>
